<style is="custom-style">
    paper-card.reputation {
        max-width: 500px;
    }
    .header { @apply(--paper-font-headline); }
    .light { color: var(--paper-grey-600); }
    .points {
        float: right;
        font-size: 15px;
        vertical-align: middle;
    }
    iron-icon.star {
        --iron-icon-width: 25px;
        --iron-icon-height: 25px;
        color: var(--paper-amber-500);
    }

</style>
<paper-card class="reputation">
    <div class="card-content">
        <div class="header">{$reputationRecord->level}
            <div class="points light">
                <span>{$reputationRecord->reputation}</span>
            </div>
        </div>
        <div class="rating">
            {for $temp=1 to $stars}
            <iron-icon class="star" icon="star"></iron-icon>
            {/for}
        </div>
    </div>
    <div class="card-action">
        <span class="ow_button" style="margin:5px; float: right;">
        <input type="submit" value="Show Leaderboard" onclick="SPODREPUTATION.showLeaderboard({$reputationRecord->userId})">
    </span>
    </div>
</paper-card>